@import 'tailwindcss';

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('./assets/fonts/SFProRounded-Black.woff') format('woff'),
        url('./assets/fonts/SFProRounded-Bold.woff') format('woff'),
        url('./assets/fonts/SFProRounded-Heavy.woff') format('woff'),
        url('./assets/fonts/SFProRounded-Light.woff') format('woff'),
        url('./assets/fonts/SFProRounded-Medium.woff') format('woff'),
        url('./assets/fonts/SFProRounded-Regular.woff') format('woff'),
        url('./assets/fonts/SFProRounded-Semibold.woff') format('woff'),
        url('./assets/fonts/SFProRounded-Thin.woff') format('woff'),
        url('./assets/fonts/SFProRounded-Ultralight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-100: #4eb6a9;
    --primary-200: #406661;
    --primary-300: #206259;
    --text-color: #242323;
    --text-color-light: #333131;
}
/* Add more weights if needed */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'SF Pro Rounded', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
